@page "/fetchdata"
@inject WeatherForecastService ForecastService
@using Samples.Ui.Data

<PageTitle>Weather forecast</PageTitle>

<MudText Typo="Typo.h5">Weather forecast</MudText>

<p>This component demonstrates fetching data from a service.</p>

<MudTable Items="@_forecasts" Hover="true" 
            Breakpoint="Breakpoint.Sm"
            Loading="@_loading" LoadingProgressColor="Color.Info"> 
    <HeaderContent>
        <MudTh>Date</MudTh>
        <MudTh>Temp. (C)</MudTh>
        <MudTh>Temp. (F)</MudTh>
        <MudTh>Summary</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Date.ToShortDateString()</MudTd>
        <MudTd>@context.TemperatureC</MudTd>
        <MudTd>@context.TemperatureF</MudTd>
        <MudTd>@context.Summary</MudTd>
    </RowTemplate>
</MudTable>

@code {
    private WeatherForecast[]? _forecasts;

    private bool _loading = false;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        _forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        _loading = false;
    }
}
